{% load static %}

<!DOCTYPE html>
<html>

<head>
    {% if post.title %}
    <title>{{ post.title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<h1><b><a href="/" style="text-decoration: none; color: black;">&nbsp;Blog</a></b></h1>
<div class="credits">Project by<a href="https://www.instagram.com/alexeysekisov/" style="text-decoration: none;">&nbsp;alexeysekisov,</a>, developed using Django & Python.</div><br>
{% if user.is_anonymous %}
<div class="text-center">
        <a href="/login">LOGIN</a>
        <b>&nbsp;|&nbsp;</b>
        <a href="/register">SIGN UP</a>
</div>
{% elif user.is_authenticated %}
<div class="text-center">
    <div class="compose" style="text-decoration: none;"><a href="{% url 'post_new' %}">Type something as {{request.user|capfirst}} <i class="far fa-plus-square"></i></span></a></div>
    <a href="/logout">LOGOUT</a>
</div>
{% endif %}
{% if user.is_authenticated %}
<div style="margin: 10px 0px;">Logged in as: {{request.user}}</div>
{% endif %}
<body>
    {% if messages %}
        {% for message in messages %}
        <div class="text-center">
            <div class="posts">
                <b>- {{ message }}</b>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</body>

</html>